.pd{
    display: flex;
    margin: 30px 50px;
    font-size: 30px;

    
    &-gallery{
        display: flex;
        flex-direction: column;
        img{
            width: 6vw;
            height: 5.5vw;
            margin-bottom: 40px;
        }
    }

        &-image{
        margin: 0 0px 0 24px;
        img{
            min-width: 44vw;
            height: 38vw;
        }
    }

    &-details{
        display: flex;
        flex-direction: column;
        margin-top: -40px;
        max-width: 35vw;
        font-family: var(--rob);

    }

}

