
.overlay {
    position: absolute; /* Sit on top of the page content */
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(57, 55, 72, 0.22); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
