

.espec{
    display: flex;
    flex-direction: column;  
    &__container-size  {     
        margin-bottom: 10px;
        &--content {
            width: 55px;
            height: 35px;
            padding: 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: rgb(100, 98, 98) solid 0.25px;
            font-family: var(--ssp);
            font-size: 16px;
            margin-right: 10px;
        }     
    }
    &__title {
        padding: 5px 0;
        font-family: var(--rob);
        font-weight: bold;
        font-size: 18px; 
    }
    &__container-color{
        margin-right: 6px;
        max-width: 32px;
        max-height: 32px;
        display: inline-block;
        p {
            width: 30px;
            height: 30px;
            cursor: pointer;  
        }
    }
    
}





.innerColor{
    width: 30px;
    height: 30px;
    cursor: pointer;  
}


.outColor{
    margin-right: 6px;
    max-width: 32px;
    max-height: 32px;
    display: inline-block;
}

.color-active{
    border:#5ECE7B solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}




