.container {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
    align-items: center;
    margin: 0px 100px;

    &__categories{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       p{
            margin-right: 30px;
       } 
    }

    &__buttons{
        display: flex;
        align-items: center;
        
        div{
            select {
                border: none;
                outline: none;
                margin-right: 30px;
                font-size: 22px;
              }
        }
    }  
}

.miniCart{
    position: absolute;
    left:-300px;
    z-index: 0;
    background-color: white ;
}

.miniCartFatlher{
    position: relative;
    background-color: white;
   
    

}
