.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: var(--ral);
  position:relative;

  p{
    margin: auto;
    padding: auto;
  }

  &__content{
    &-title{
      font-weight: 600;
      padding-bottom: 5px;
    }
    &-subtitle{
      font-weight: 400;
      padding-bottom: 12px;
    }
    &-price {
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 12px;
    }
  }

  &-image{
    position:absolute;
    left: 75vw;
    display: flex;
    &__buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      button{
        width: 50px;
        height: 50px;
        font-size: 20px;
        background-color: white;
        opacity: 0.4;
      }
    }
    
    img{
      margin-left: 20px;
      max-height: 11vw;
      width: auto;
    }
  }


}


hr{
 opacity: 0.4;
}





