.primary{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-size: 30px;
  font-family: var(--ral);
  position:relative;

  p{
    margin: auto;
    padding: auto;
  }

  .content{
    &-title{
      font-weight: 600;
      padding-bottom: 5px;
    }
    &-subtitle{
      font-weight: 400;
      padding-bottom: 12px;
    }
    &-price {
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 12px;
    }
  }

  .image{
    position: absolute;
    left: 1000px;
    display: flex;
    &__buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      button{
        width: 50px;
        height: 50px;
        font-size: 20px;
        opacity: 0.4;
      }
    }
    
    img{

      right: 200px;
      max-height: 14vw;
      width: auto;
    }
  }


}


hr{
  opacity: 0.4;
 }
 


.secondary{
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: var(--ral);
  font-weight: 300;
  line-height: 160%;
  z-index: 1000;

  p{
    margin: 0;
    padding: 0;
  }

  .content{
    &-title{
      font-weight: 300;
      padding-bottom: 5px;
    }
    &-subtitle{
      font-weight: 300;
      padding-bottom: 12px;
    }
    &-price {
      font-weight: 600;
     
    }
  }


  .image{
    display: flex;
    position: absolute;
    left: 200px;
    margin-left: 5px;
    &__buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
 
      button{
        width: 25px;
        height: 25px;
        font-size: 8px;
        opacity: 0.4;
      }
    }
  }

  img{
    margin-left: 2px;
    height: 10vw;
    width:auto;
  }
  

}




